.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.register-form {
    border: 1px solid gray;
    padding: 4vh 2vw !important;
    width: 30%;
}